
.item {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
  border: 2px solid var(--color-orange);
  padding: 5px 10px;
  margin: auto;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
  border: 2px solid var(--color-orange);
  padding: 10px 20px;
  margin: auto;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
  border: 2px solid var(--color-orange);
  padding: 10px 20px;
  margin: auto;
}
//extra large
  border: 2px solid var(--color-orange);
  padding: 10px 40px;
  margin: auto;
}




.item-image-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
//extra large
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 320px;
height: 300px;
overflow: hidden;
}


.item-image {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 200px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 200px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 200px;
}
//extra large
width: 300px;

}



.item-title {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
text-align: left;
font-size: 20px;
font-family: 'R-Spectr', sans-serif;
color: (--color-text);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
text-align: left;
font-size: 20px;
font-family: 'R-Spectr', sans-serif;
color: (--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
text-align: left;
font-size: 20px;
font-family: 'R-Spectr', sans-serif;
color: (--color-text);
}
//extra large
text-align: left;
font-size: 20px;
font-family: 'R-Spectr', sans-serif;
color: (--color-text);
border-top: 2px solid var(--color-orange);
margin-bottom: 10px;
padding-top: 10px;
}


.item-info {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
justify-content: space-between;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
justify-content: space-between;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
justify-content: space-between;
}
//extra large
display: flex;
align-items: center;
justify-content: space-between;
border-top: 2px solid var(--color-orange);
}


.item-price {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
text-align: left;
font-size: 18px;
font-family: 'Default Sans', sans-serif;
color: (--color-orange);
font-weight: bold;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
text-align: left;
font-size: 18px;
font-family: 'Default Sans', sans-serif;
color: (--color-orange);
font-weight: bold;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
text-align: left;
font-size: 18px;
font-family: 'Default Sans', sans-serif;
color: (--color-orange);
font-weight: bold;
}
//extra large
text-align: left;
font-size: 24px;
font-family: 'Default Sans', sans-serif;
color: (--color-orange);
font-weight: bold;
margin-bottom: 10px;
padding-top: 30px;
}



.item-button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#0cf, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}













.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}







