

.review-header {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-size: 1.5rem;
text-align: center;
font-weight: bold;
padding-bottom: 20px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-size: 2rem;
text-align: center;
font-weight: bold;
padding-bottom: 20px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
font-size: 2rem;
text-align: center;
font-weight: bold;
padding-bottom: 20px;
}
//extra large
font-size: 2rem;
text-align: center;
font-weight: bold;
padding-bottom: 20px;
}



.reviews-display {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 1rem;
  margin-bottom: 40px;
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .reviews-display { grid-template-columns: repeat(2, 1fr); }
}


@media (min-width: 1280px) {
  .reviews-display { 
    grid-template-columns: repeat(4, 1fr); 
  }
}

