.landing-page {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;  
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;  
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;  
}
//extra large
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;  
}


.section-1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 1rem;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 1rem;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem;
}
//extra large
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem;
}


.section-1-img-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {

}
//extra large
width: 600px;
background: orange;
}


.land-image {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {

}
//extra large
width: 600px;
}


.section-1-text-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {

}
//extra large
display: flex;
flex-direction: column;
justify-content: center;
align-items: left;  
width: 600px;;
background: blue;
}


.section-1-h3 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {

}
//extra large
text-align: left;
}


.section-1-p {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {

}
//extra large
text-align: left;
}

