
.payment-form-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
//extra large
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 100px 0px;
}


.payment-email {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
  width: 250px;
  margin-bottom: 20px;
  padding: 10px 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
  width: 500px;
  margin-bottom: 20px;
  padding: 10px 10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
  width: 500px;
  margin-bottom: 20px;
  padding: 10px 10px;
}
//extra large
  width: 500px;
  margin-bottom: 20px;
  padding: 10px 20px;
}


.payment-name {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
  width: 245px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
  width: 245px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
  width: 245px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
//extra large
  width: 245px;
  margin-bottom: 20px;
  padding: 10px 20px;
}


.payment-name-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
//extra large
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
}



.payment-address-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
//extra large
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.payment-address-cont-2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
//extra large
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
}

.payment-city {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
  width: 245px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
  width: 245px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
  width: 245px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
//extra large
  width: 160px;
  margin-bottom: 20px;
  padding: 10px 20px;
}


.payment-phone {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
  width: 250px;
  margin-bottom: 20px;
  padding: 10px 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
  width: 500px;
  margin-bottom: 20px;
  padding: 10px 10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
  width: 500px;
  margin-bottom: 20px;
  padding: 10px 10px;
}
//extra large
  width: 500px;
  margin-bottom: 20px;
  padding: 10px 20px;
}


.payment-cc-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
//extra large
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: rgba(245,245,245,255);
border-end-start-radius: 5px;
border-end-end-radius: 5px;
margin-bottom: 20px;
}


.payment-cc-cont-2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
//extra large
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
}


.payment-security {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
  width: 245px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
  width: 245px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
  width: 245px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
//extra large
  width: 220px;
  margin-bottom: 20px;
  padding: 10px 20px;
}





.submit-btn {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
background: var(--color-yellow);
color: var(--color-text);
font-size: 20px;
font-weight: bold;
border: none;
width: 100px;
padding: 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
background: var(--color-yellow);
color: var(--color-text);
font-size: 20px;
font-weight: bold;
border: none;
width: 100px;
padding: 10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
background: var(--color-yellow);
color: var(--color-text);
font-size: 20px;
font-weight: bold;
border: none;
width: 100px;
padding: 10px;
}
//extra large
background: darkblue;
color: white;
font-size: 20px;
font-weight: bold;
border: none;
width: 100px;
padding: 10px;
}


.Toastify__toast--error {
    border: 1px solid #EB5757;
    border-radius: 5px !important;
    background: #FAE1E2 !important;
    width: 500px;
    position: relative;
    top: 400px;
}
.Toastify__toast--error::after {
  content : url('../assets/images/svg/closeToast.svg'); // Your svg Path
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}
.Toastify__toast--error::before {
  content: url("../assets/images/svg/errorToast.svg");// Your svg Path
  position: relative; 
  z-index:100000;
  left:12px;
  top:6px;
}

.Toastify__toast-body {
  color: #444C63    ;
  font-size: 16px;
  padding-left: 20px;
  line-height: 20px;
  padding: 0px;
  padding-top: 25px;
  width: 100%;
  font-weight: 400;
  margin-left: 25px !important;
} 
.Toastify__toast > button>  svg {
    display: none;
}


.shipping-color-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
//extra large
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 500px;
padding: 0px 10px;
border: 1px solid var(--color-orange);
border-start-start-radius: 5px;
border-start-end-radius: 5px;
margin-bottom: 20px;
background: 	rgba(249,74,76,0.1);
}


.shipping-color-p {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
padding-top: 18px;
margin-left: 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
padding-top: 18px;
margin-left: 10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
padding-top: 18px;
margin-left: 10px;
}
//extra large
padding-top: 18px;
margin-left: 10px;
}


.shipping-color-p1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
padding-top: 18px;
margin-left: 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
padding-top: 18px;
margin-left: 10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
padding-top: 18px;
margin-left: 10px;
}
//extra large
padding-right: 10px;
padding-top: 18px;
margin-left: 10px;
font-weight: bold;
}



.creditcard-color-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
//extra large
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 500px;
padding: 0px 10px;
border: 1px solid var(--color-orange);
border-start-start-radius: 5px;
border-start-end-radius: 5px;
margin-bottom: 20px;
background: 	rgba(249,74,76,0.1);
}

.creditcard-color-circle-cont {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}


.creditcard-color-circle {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
color: var(--color-orange);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
color: var(--color-orange);
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
color: var(--color-orange);
}
//extra large
color: var(--color-orange);
}



.creditcard-color-p {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
padding-top: 18px;
margin-left: 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
padding-top: 18px;
margin-left: 10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
padding-top: 18px;
margin-left: 10px;
}
//extra large
padding-top: 18px;
margin-left: 10px;
}


.creditcard-number {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
  width: 250px;
  margin-bottom: 20px;
  padding: 10px 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
  width: 500px;
  margin-bottom: 20px;
  padding: 10px 10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
  width: 500px;
  margin-bottom: 20px;
  padding: 10px 10px;
}
//extra large
  width: 450px;
  margin-bottom: 20px;
  padding: 10px 20px;
}




.money-button {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
text-align: center;
width: 500px;
color: #fff;
background: var(--color-orange);
border: none;
border-radius: 5px;
font-weight: bold;
padding: 10px 0px;
margin-top: 20px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
text-align: center;
width: 500px;
color: #fff;
background: var(--color-orange);
border: none;
border-radius: 5px;
font-weight: bold;
padding: 10px 0px;
margin-top: 20px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
text-align: center;
width: 500px;
color: #fff;
background: var(--color-orange);
border: none;
border-radius: 5px;
font-weight: bold;
padding: 10px 0px;
margin-top: 20px;
}
//extra large
text-align: center;
width: 500px;
color: #fff;
background: var(--color-orange);
border: none;
border-radius: 5px;
font-weight: bold;
padding: 10px 0px;
}



.checkbox-container {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10px;
}
//extra large
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10px;
margin-bottom: 20px;
}


.payment-form-header {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-weight: bold;
font-size: 2rem;
text-align: left;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-weight: bold;
font-size: 2rem;
text-align: left;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
font-weight: bold;
font-size: 2rem;
text-align: left;
}
//extra large
font-weight: bold;
font-size: 2rem;
text-align: left;
margin-top: 20px;
}

.order-s {
  margin-top: 20px;
}


.payment-form-header-order {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-weight: bold;
font-size: 2rem;
text-align: left;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-weight: bold;
font-size: 2rem;
text-align: left;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
font-weight: bold;
font-size: 2rem;
text-align: left;
}
//extra large
font-weight: bold;
font-size: 2rem;
text-align: left;
margin-top: 40px;
}


.order-summary-1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 500px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 500px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 500px;
}
//extra large
display: flex;
flex-direction: row;
  justify-content: space-between;
align-items: center;
width: 500px;
margin-bottom: 20px;
}

.order-img-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}


.order-image {
  width: 70px;
}


.order-dicount {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
  width: 250px;
  margin-bottom: 20px;
  padding: 10px 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
  width: 500px;
  margin-bottom: 20px;
  padding: 10px 10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
  width: 500px;
  margin-bottom: 20px;
  padding: 10px 10px;
}
//extra large
  width: 400px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.order-dicount-btn {
  margin-left: 20px;
  border: 2px solid #f5f5f5;
  background: #f5f5f5;
  width: 80px;
  padding: 10px 20px;
}


.order-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.order-totalQuantity-cont {
  background-color: #000;
  border-radius: 50%;
  text-align: center;
  padding: 8px;
  width: 24px;
  height: 24px;
  margin-left: -50px;
  margin-top: 8px;  
}

.order-totalQuantity {
  font-family: 'Default Sans', sans-serif;
  color: #fff;
  margin-top: -6px; 
}


.absolute-icon-address {
  position: absolute;
  margin-top: 25px;
  margin-left: 205px;
  color: grey;
}


.absolute-icon-phone {
  position: absolute;
  margin-top: 15px;
  margin-left: 450px;
  color: grey;
}

.absolute-icon-cardnum {
  position: absolute;
  margin-top: -40px;
  margin-left: 200px;
  color: grey;
}

.absolute-icon-cvv {
  position: absolute;
  margin-top: -10px;
  margin-left: 200px;
  color: grey;
}

.absolute-icon-cardname {
  position: absolute;
  margin-top: 95px;
  margin-left: 200px;
  color: grey;
}