
.navbar {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
  border-bottom: 3px solid #000;
    padding-bottom: 70px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
  border-bottom: 3px solid #000;
  padding-bottom: 70px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
  border-bottom: 3px solid #000;
  padding-bottom: 0px;
}
//extra large
  border-bottom: 3px solid #000;
  padding-bottom: 0px;
}


.navbar-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
align-items: center;
justify-content: space-between;
margin-top: -80px;
margin-bottom: -80px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
justify-content: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
align-items: center;
justify-content: center;
}
//extra large
display: flex;
align-items: center;
justify-content: space-between;
margin-top: -80px;
margin-bottom: -80px;
}


.offcanvas-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row-reverse;
align-items: center;
justify-content: space-between;
width: 400px;
margin-top: 50px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row-reverse;
align-items: center;
justify-content: space-between;
width: 700px;
margin-top: 50px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
align-items: center;
justify-content: center;
}
//extra large
display: flex;
align-items: center;
justify-content: center;
}


.navbar-brand {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'Pacifico', cursive;
font-size: 30px;  
margin-right: 100px;
color: var(--color-text);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'Pacifico', cursive;
font-size: 40px;  
margin-right: 100px;
color: var(--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'Pacifico', cursive;
font-size: 40px;  
margin-right: 100px;
color: var(--color-text);
}
//extra large
font-family: 'Pacifico', cursive;
font-size: 40px;  
margin-right: 100px;
color: var(--color-text);
}


.navbar-brand:hover {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'Pacifico', cursive;
font-size: 30px;  
margin-right: 100px;
color: var(--color-orange);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'Pacifico', cursive;
font-size: 40px;  
margin-right: 100px;
color: var(--color-orange);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'Pacifico', cursive;
font-size: 40px;  
margin-right: 100px;
color: var(--color-orange);
}
//extra large
font-family: 'Pacifico', cursive;
font-size: 40px;  
margin-right: 100px;
color: var(--color-orange);
}


.nav-link {
font-family: 'Default Sans', sans-serif;
  font-size: 20px;
  color: var(--color-text);
  width: 150px;
}

.nav-link:hover {
font-family: 'Default Sans', sans-serif;
  font-size: 20px;
  color: var(--color-orange);
  width: 150px;
}


ul {
  list-style-type: none;
}



.shopping-cart {
  display: flex;
  margin-top: 15px;
}


.cart {
 font-family: 'Default Sans', sans-serif;
 font-weight: bold;
  font-size: 30px;
  color: var(--color-text);
}


.totalQuantity-cont {
  background-color: #000;
  border-radius: 50%;
  text-align: center;
  padding: 8px;
  width: 24px;
  height: 24px;
  margin-left: -10px;
  margin-top: 8px;  
}

.totalQuantity {
  font-family: 'Default Sans', sans-serif;
  color: #fff;
  margin-top: -6px; 
}


.offcanvas-button {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: block;
border: none;
background: #fff;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: block;
border: none;
background: #fff;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: none;
border: none;
}
//extra large
display: none;
border: none;
}


.hamburger {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: block;
font-size: 20px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: block;
font-size: 20px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: none;
}
//extra large
display: none;
}




.nav-link-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: none;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: none;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
align-items: center;
justify-content: center;
}
//extra large
display: flex;
align-items: center;
justify-content: center;
margin-top: 30px;
}



.cart-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: none;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: none;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: block;
}
//extra large
display: block;
}


.offcanvas-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
























